/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* cenetr code on page */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.window {
  width: 50%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #434343;
  opacity: 1;
}

/* nav-bar code */
.nav-bar {
  width: 100%;
  height: 4vh;
  background-color: #eef1f5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nav-bar p {
  color: #818488;
  font-weight: 400;
}

/* nav-bar icons */
.nav-bar-icons {
  position: absolute;
  left: 10px;
  width: 10%;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar-icons div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.nav-bar-icons div:nth-child(1) {
  background-color: #ef544a;
}

.nav-bar-icons div:nth-child(2) {
  background-color: #edc04a;
}

.nav-bar-icons div:nth-child(3) {
  background-color: #97d272;
}

/* code window */
.code-editor {
  width: 100%;
  min-height: 20vh;
  height: auto;
  background-color: #323842;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 16px;
}

.code {
  font-weight: bolder;
  white-space: pre;
}

.code,
.cursor {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #ffffff;
}
/* cursor code */
.cursor {
  color: #ffffff;
  opacity: 0;
  animation: blinking-cursor ease-in 1.2s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* phones landscape */
@media (min-width: 0) and (max-height: 500px) {
  .window {
    width: 60% !important;
  }

  .nav-bar {
    height: 6vh;
  }

  .nav-bar-icons {
    width: 12%;
  }

  .code,
  .cursor {
    font-size: 1rem !important;
    line-height: 1.2rem !important;
  }
}

/* phones */
@media (min-width: 0px) and (max-width: 576px) {
  .window {
    width: 90%;
  }

  .nav-bar-icons {
    width: 15%;
  }

  .nav-bar-icons div {
    width: 10px;
    height: 10px;
  }

  .code,
  .cursor {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* tablet */
@media (min-width: 577px) and (max-width: 1025px) {
  .window {
    width: 60%;
  }

  #code,
  .cursor {
    font-size: 1.4rem;
  }
}

/* xl desktop */
@media (min-width: 1400px) {
  .window {
    width: 35%;
  }
}
