* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #f3f3f3;
}

.button-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  z-index: 0;
  width: 8vw;
  height: 4vw;
  background: darkgray;
  color: #ffffff;
  border-radius: 10px;
  font-size: 1rem;
}

.button:hover {
  background: gray;
}

@media (max-width: 1025px) {
  .button {
    width: 25vw;
    height: 15vw;
    font-size: 1.5rem;
  }
}

.modal {
  /* needed to overlay over the body */
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0;
  z-index: 1;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
  /* centers modal vertically */
  display: flex;
  align-items: center;
}

.modal-content {
  position: relative;
  width: 50%;
  /* centers modal horizontally */
  margin: auto;
  background: #fefefe;
  border: 5px solid #007bff;
  text-align: justify;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-header {
  padding: 10px 10px;
  background-color: #007bff;
  color: #ffffff;
}

.modal-body {
  padding: 20px 10px;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 767px) {
  .modal-content {
    width: 90%;
  }
}

@keyframes fade-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
